.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color-yellow-100);
}
a {
  color: var(--color-red-100);
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  width: 46px;
  height: 46px;
  margin-right: 5px;
}
