<div class="nav">
  <div class="nav-item">
      <a id="massageLink" class="nav-link text-center" [routerLink]="['/massage']" routerLinkActive="active">
        <img src="/assets/images/thai-flag-elephant-crossing-sign.webp">
        <span i18n="@@RootNavMassage">Massage</span>
      </a>
      <div class="subnav-content">
        <app-massage-nav></app-massage-nav>
      </div>
  </div>
  <div class="nav-item">
      <a id="cookingLink" class="nav-link text-center" [routerLink]="['/cooking']" routerLinkActive="active">
        <img src="/assets/images/thai-flag-elephant-crossing-sign.webp">
        <span i18n="@@RootNavCooking">Cooking</span>
      </a>
  </div>
  <div class="nav-item">
      <a id="shopLink" class="nav-link text-center" [routerLink]="['/shop']" routerLinkActive="active">
        <img src="/assets/images/thai-flag-elephant-crossing-sign.webp">
        <span i18n="@@RootNavShop">Shop</span>
      </a>
  </div>
</div>


<router-outlet></router-outlet>
